*.DS_Store
khulnasoft.tar.gz
venv
venv-tools
packages/khulnasoft/local
packages/khulnasoft/metadata/local.meta
__pycache__/
.vscode/

packages/khulnasoft/bin/vendor/*
.DS_Store
.idea/
lerna-debug.log
node_modules
npm-debug.log
test-reports
coverage_report
yarn-error.log
licenses.json
functional-temp
splunktional-temp

output/
