select {
    color: var(--text-color);
    border: 0px;
    outline: none;
}

.select-container {
    border: 1px solid var(--secondary-text-color);
    border-radius: 40px;
    padding-right: 1rem;
    margin-top: 0.5rem;
}

.select-container:hover {
    border: 1px solid var(--button-bg-color);
}
