.toast-container {
    width: 100%;
    margin-bottom: 10px;
    min-height: 2rem;
    padding: 1rem 2rem;
    animation: toast-animation-in 0.2s;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    user-select: none;
}

.toast-success {
    background-color: var(--toast-bg-color-success);
    border: 1px solid var(--toast-border-color-success);
}

.toast-error {
    background-color: var(--toast-bg-color-error);
    border: 1px solid var(--toast-border-color-error);
}

.toast-timed-out {
    animation: toast-animation-out 0.2s;
}

.toast-text {
    color: var(--text-color);
    overflow-wrap: anywhere;
}

@keyframes toast-animation-in {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes toast-animation-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
