#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    flex: content;
    height: auto;
    width: 800px;
    gap: 1.5rem;
    align-self: center;
    padding-bottom: 2rem;
}

.content-step {
    display: flex;
    flex-direction: column;
    flex: content;
    align-items: flex-start;
    gap: 2rem;
}

.link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 10rem;
}

#learn-more {
    right: 0;
    height: fit-content;
}
